/build/
/dist/
/nbproject/
build.xml
manifest.mf
/Lesson 05 SerialIO exercise/nbproject/private/
/Lesson 05 SerialIO exercise/build/
/Lesson 05 TCP Thread exercise/nbproject/private/
/Lesson 05 TCP Thread exercise/build/