/build/
/dist/
/nbproject/
build.xml
manifest.mf
/Lesson 05 SerialIO exercise/nbproject/private/
/Lesson 05 SerialIO exercise/build/
/Lesson 05 TCP Thread exercise/nbproject/private/
/Lesson 05 TCP Thread exercise/build/
/Lesson06_20_7/nbproject/private/
/Lesson06_20_7/build/
/Lesson 06 FlashingText/nbproject/private/
/Lesson 06 FlashingText/build/
/Lesson 06 FlashingText/dist/
/fruit06/nbproject/private/
/fruit06/build/
/fruit06/dist/